<html>

<head>
    <title>Driplet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        <% include partials/sidebar %>
    </style>
    <style>
        .service-log {
            color: white;
            background-color: black;
            width: 100%;
            height: 35%;
            border-radius: 5px;
            margin-bottom: 7.5px;
            font-size: 12px;
            padding: 8px;
            overflow: scroll;
        }

        .service_page {
            padding: 10px;
            width: calc(100% - 15.1rem);
        }

        .new-service {
            font-size: 12px;
            padding-left: 22px;
            padding-top: 7px;
            padding-bottom: 7px;
        }
    </style>
    <script>


        function stayDown() {
            var element = document.getElementById("output")
            element.scrollTop = element.scrollHeight;
        }

        var wsUri = "ws://localhost:3142/";
        websocket = new WebSocket(wsUri);
        websocket.onopen = function (evt) {
            onOpen(evt)
        };
        websocket.onmessage = function (evt) {
            onMessage(evt)
        };

        function onOpen(evt) {
            websocket.send(JSON.stringify(
                {
                    authentication: {
                        client_id: "<%=clientid%>",
                        token: "<%=token%>"
                    },
                    log_command: "<%=logservice%>"
                })
            )
        }

        function onMessage(evt) {
            document.getElementById('output').innerHTML += evt.data + "<br>"
            stayDown()
        }

        axios.defaults.headers.common['authorization'] = "<%= token %>"
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <% include partials/navbar-gfx %>
        <a class="navbar-brand" href="#">Driplet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <a href="login.html">
                <button type="button" class="btn btn-outline-light">Login / Register</button>
            </a>
        </div>
    </nav>
    <div class="container-fluid" id="wrapper">
        <div class="row">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">Your Services</div>
                <div class="list-group list-group-flush">
                    <% for (var i = 0; i < services.length; i++) { %>
                        <a href=<%=services[i].id%> class="list-group-item list-group-item-action bg-light new-service"><%=services[i].name%></a>
                    <% } %>
                    <a href="create" class="list-group-item list-group-item-action bg-light">Create new...</a>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->
            <div class="service_page">
                <h1><%= servicename %></h1>
                <div id="output" class="service-log">
                </div>
                <div class="row">
                    <div class="col-md-4" style="padding-right: 15px; padding-left: 15px;">
                        <button onclick="start_service()" class="btn btn-success btn-block">Start</button>
                    </div>
                    <div class="col-md-4" style="padding-right: 15px; padding-left: 0px;">
                        <button onclick="stop_service()" class="btn btn-danger btn-block">Stop</button>
                    </div>
                    <div class="col-md-4" style="padding-right: 15px; padding-left: 0px;">
                        <button onclick="restart_service()" class="btn btn-warning btn-block">Restart</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<script>
    function start_service() {
        axios.post('http://localhost:3141/endpoints/<%= clientid %>/services/<%= serviceid %>/start', {})
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function stop_service() {
        axios.post('http://localhost:3141/endpoints/<%= clientid %>/services/<%= serviceid %>/stop', {})
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function restart_service() {
        axios.post('http://localhost:3141/endpoints/<%= clientid %>/services/<%= serviceid %>/restart', {})
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>

</html>