<html>

<head>
    <title>Driplet - Services</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        .col-sm-6 {
                margin-top: 30px;
            }
            
            .push-down {
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .create-button {
                color: white;
            }
        </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <% include partials/navbar-gfx %>
        <a class="navbar-brand" href="/">Driplet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../">Home <span class="sr-only">(current)</span> </a>
                </li>
            </ul>
            <div class="btn-group">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Account
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" href="#">My Account</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" onclick="log_out()">Log Out</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <% for(i=0; i < services.length; i++) {%>
            <div class="col-sm-6">
            
                <div class="card" id=<%=services[i].id%>>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=services[i].name%> 
                            <button onclick="delete_service('<%=services[i].id%>')" class="btn" style="float:right;">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </h5>
                        <% if (services[i].description != undefined) {%>
                        <p class="card-text">
                            <%=services[i].description %>
                        </p>
                        <%}%>
                        <a href="services/<%=services[i].id%>" class="btn btn-primary">Go to service</a>
                    </div>
                </div>
            </div>
            <%}%>

        </div>

        <div class="card text-center push-down">
            <div class="card-header">
                Create a service...
            </div>
            <div class="card-body" id="service-creation-box">
                <p class="card-text">Integrate your systemd unit or create a new one...</p>
                <a onclick="start_creation()" class="btn btn-primary"><span style="color:white;">Get started</span></a>
            </div>
            <div class="card-footer text-muted">
                Driplet Units
            </div>
        </div>
    </div>
</body>

<% include partials/log-out %>

<script>
    
   async function delete_service(id) {
    try {
        let service_deleted = await axios.delete('http://localhost:3141/endpoints/<%=clientid%>/services/' + id,
        {
                    "headers": {
                        authorization: "<%=token%>"
                    }
        })
        console.log(service_deleted)
        location.reload()
    }
    catch(e) {
        console.log(e)
    }
       
   }

    function start_creation() {
        document.getElementById('service-creation-box').innerHTML = `<% include partials/services/pick-type %>`
    }

    function import_service() {
        document.getElementById('service-creation-box').innerHTML = `<% include partials/services/import-service %>`
    }

    async function create_service() {
        name = document.getElementById('serviceName').value
        start = document.getElementById('start_command').value
        stop = document.getElementById('stop_command').value
        restart = document.getElementById('restart_command').value
        log = document.getElementById('log_command').value
        desc = document.getElementById('description').value

        if (name == "" || start == "" || stop == "" || restart == "" || log == "") {
            alert("Please fill out all the fields entirely.")
            return false    
        }

        try {
            let service_created = await axios.post('http://localhost:3141/endpoints/<%=clientid%>/services',
                data = {
                    "name": name,
                    "start_command": start,
                    "stop_command": stop,
                    "restart_command": restart,
                    "log_command": log,
                    "description": desc
                },
                {
                    "headers": {
                        authorization: "<%=token%>"
                    }
                }
            )
            console.log(service_created.data)
            location.reload()
        }
        catch (e) {
            alert("Something went wrong, please make sure your service name matches (case sensitive) the one in the commands used and that the service IS running.")
        }
                      
        }
</script>

</html>